
<% @ticker = StockQuote::Stock.quote(@stock.ticker) %>

<table class="table table-striped table-bordered table-hover">
	 <% if !@ticker %>

	    The ticker: <%= @stock.ticker %><br/> does not exist!
	     <%else %>
	    	<tr>
	      		<th><strong><%= @ticker.company_name %></strong></th>
	      	</tr><br/>

	        <tr>
	          	<th>Ticker Symbol: <%= @ticker.symbol %></th>
	        </tr><br/>
	        <tr>
	         	<th>Current Price: $<%= number_with_precision(@ticker.latest_price, :precision => 2, :delimiter => ',') %></th>                		
	        </tr><br/>
	        <tr>
	           	<th>Previous Close: $<%= number_with_precision(@ticker.previous_close, :precision => 2, :delimiter => ',') %></th>
	        </tr><br/>
	        <tr>
	           	<th>Percentage Change: <%= @ticker.change_percent %>%</th>
	        </tr><br/>  
	        <tr>
	        	<th>YTD Change: $<%= number_with_precision(@ticker.ytd_change, :precision => 2, :delimiter => ',') %></th>
	        </tr><br/>             
	        </tr>
	            <th>Market Cap: $<%= number_with_precision(@ticker.market_cap, :precision => 2, :delimiter => ',') %></th>
	        </tr><br/>

	          
	                
	<% end %>


 </table>







<br/><br/>
<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
